:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --text-second-color: #ffffff;
  --text-contacts-color: #757575;
  --backgroung-color: #2f303a;
  --background-button-color: #f5f4fa;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0 94px;
}

/*NAVI PANEL */

.box {
  box-sizing: border-box;
}
.flex-list {
  display: flex;
  justify-content: space-around;
}

/*LOGO*/
.logo-link {
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  color: var(--text-color);
}

.logo-footer {
  color: var(--text-second-color);
}

/* LINK   */
.link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.link:hover {
  color: var(--brand-color);
}

.link:active {
  color: var(--brand-color);
}

.link:focus {
  color: var(--brand-color);
}

.link-contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-contacts-color);
}

.link-contact-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
}

/*BUTTONS */
.button {
  background-color: var(--background-button-color);
  text-decoration-color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border-color: var(--background-button-color);
  border-style: hidden;
}
.button:hover {
  background-color: var(--brand-color);
  color: var(--text-second-color);
  cursor: pointer;
}

.button:active {
  background-color: var(--brand-color);
  color: var(--text-second-color);
}

.button:focus {
  background-color: var(--brand-color);
  color: var(--text-second-color);
  cursor: pointer;
}

.button-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-second-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}

/* HEADER */
.section-header {
  background-color: var(--backgroung-color);
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-second-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.article-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

/*SECTION ARTICLES*/

.article-paragraph {
  color: var(--text-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  letter-spacing: 0.03em;
}

/*SECTION TEAM */

.section-team {
  background-color: var(--background-button-color);
}

.section-team-photo {
  background-color: var(--text-second-color);
}

.section-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.section-team-descript {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-contacts-color);
  letter-spacing: 0.03em;
}

/* RESULTS */

.results-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 20px 24px 4px 24px;
}

.results-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
  margin: 4px 24px 20px 24px;
}
/*FOOTER */
.footer {
  background-color: var(--backgroung-color);
}
.adress {
  color: var(--text-second-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  list-style-type: none;
}

.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.grid-item {
  flex-basis: calc((100% - 30px) / 3);
  background-color: var(--text-second-color);
}
.section-grid {
  padding: 34px 0 94px;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-text {
  border: 1px solid var(--border-color);
  border-top: none;
  margin: 0 auto;
}
